## 변수형

In [1]:
# 정수형
a = 13
b = 4

In [2]:
a + b

17

In [3]:
a - b

9

In [4]:
a / b

3.25

In [5]:
a // b

3

In [6]:
a % b

1

In [7]:
a == b

False

In [8]:
a ** b

28561

In [9]:
a != b

True

In [10]:
a > b

True

In [11]:
## 정수형 비트 연산
## 13 -> 1101 / 4 -> 0100

a & b   # 0100

4

In [12]:
a | b

13

In [13]:
a ^ b   # 1001

9

In [14]:
~a

-14

In [15]:
a << 2  # 110100

52

In [16]:
a >> 1 # 0110

6

In [17]:
(a > b) and (a != b)

True

In [18]:
not a

False

In [19]:
not 0

True

In [20]:
## 부동소수형
2.5 + 3.7

6.2

In [21]:
10.1 / 3.2

3.1562499999999996

In [22]:
10.1 // 3.2

3.0

In [23]:
10.1 % 3.2

0.4999999999999991

### 엡실론을 포함한 연산
- 0.1을 3번 더한 값을 0.3으로 빼면?

In [24]:
c = 0.1

In [25]:
sum = c + c + c

In [26]:
sum - 0.3

5.551115123125783e-17

In [27]:
import sys

# 엡실론 출력
sys.float_info.epsilon
# 0.0000000000000002220446049250313

2.220446049250313e-16

In [28]:
d = 0.1 + 0.1 + 0.1
e = 0.3

In [29]:
d - e

5.551115123125783e-17

In [30]:
if abs(d - e) < sys.float_info.epsilon:
    print("동일 수")
else:
    print("다른 수")

동일 수

## 컬렉션

- 리스트, 튜플, 딕셔너리, 셋, 문자열 등
- Mutable : 변경할 수 있는 객체
- Immutable : 변경할 수 있는 객체

### 뮤터블

In [31]:
nlist = [1, 3, 5, 7, 9]
nlist[3]

7

In [32]:
nlist[3] = 8

In [33]:
nlist

[1, 3, 5, 8, 9]

### 이뮤터블

In [34]:
ntuple = (1, 3, 5, 7, 9)
ntuple[3]

7

In [36]:
ntuple[3] = 8

TypeError: 'tuple' object does not support item assignment

In [37]:
mystring = "Hello"
mystring[4]

'o'

In [38]:
mystring[4] = ''    # 문자열도 요소 값을 변경할 수 없음

TypeError: 'str' object does not support item assignment

In [39]:
mystring[0:4]

'Hell'

### 리스트

In [40]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 3, 5] + [7, 9]
list3 = list(list1)

In [41]:
list1

[1, 2, 3, 4, 5]

In [42]:
list2

[1, 3, 5, 7, 9]

In [43]:
list3

[1, 2, 3, 4, 5]

In [44]:
nlist2 = list(ntuple)

In [45]:
nlist2[4] = 11

In [46]:
tuple(nlist2)

(1, 3, 5, 7, 11)

In [47]:
list4 = [1, 2, 4]

In [48]:
list4.append(6)

In [49]:
list4

[1, 2, 4, 6]

In [50]:
del list4[1]

In [51]:
list4

[1, 4, 6]

In [52]:
# 슬라이싱
list2[0:2]

[1, 3]

In [53]:
list2[2:]

[5, 7, 9]

In [54]:
list2[2:3]  # 슬라이싱 뒤의 수는 n+1값이다

[5]

In [55]:
list2[-4:-2]

[3, 5]

#### 리스트 컴프리헨션

In [56]:
numbers = [x for x in range(21)]

In [57]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [58]:
cartesian_product = [(x, y) for x in range(2) for y in range(3)]
cartesian_product

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [59]:
# 함수가 포함된 리스트 컴프리헨션
def square(x):
    return x * x

In [60]:
squares = [square(x) for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [61]:
squares2 = list(map(lambda x: x * x, range(5)))
squares2

[0, 1, 4, 9, 16]

In [62]:
# 조건문
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
even_numbers

[2, 4, 6, 8, 10]

In [63]:
wierd_numbers = [x if x % 2 == 0 else -x for x in range(1, 11)]
wierd_numbers

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

#### 딕셔너리
- key와 value의 쌍을 저장하는 해시 테이블

In [64]:
dict1 = {}

In [65]:
dict1['apple'] = 1

In [66]:
dict1['samsung'] = 2
dict1['lg'] = 3

In [67]:
dict1

{'apple': 1, 'samsung': 2, 'lg': 3}

In [68]:
key = 'apple'
if key in dict1:
    value = dict1[key]
    print(f'{key}: {value}')
else:
    print(f'{key} doesnt exist')

apple: 1

In [69]:
dict1['lg'] = 4

In [70]:
del dict1['lg']

In [71]:
dict1

{'apple': 1, 'samsung': 2}

#### 셋
- 집합. 교집합, 합집합 등 가능

In [72]:
# 초기화
empty_set = set()
empty_set

set()

In [73]:
set([1, 2, 3, 5, 3, 3, 2])  # 집합은 중복제거

{1, 2, 3, 5}

In [74]:
set1 = {12, 14, 1, 7, 1}
set1

{1, 7, 12, 14}

In [75]:
set2 = set("hello world")
set2    # ASCII 알파벳 오름차순으로 출력

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [76]:
# Set Comprihension
compri_set = {x for x in range(1, 11) if x % 2 == 0}
compri_set

{2, 4, 6, 8, 10}

In [77]:
set3 = {1, 3, 5}

In [78]:
set3.add(7)

In [79]:
set3

{1, 3, 5, 7}

In [80]:
set3.add(3)

In [81]:
set3

{1, 3, 5, 7}

In [82]:
set3.update([9, 11, 1])

In [83]:
set3

{1, 3, 5, 7, 9, 11}

In [84]:
set3.remove(4)

KeyError: 4

In [85]:
set3.discard(4)

In [86]:
set3.clear()

In [87]:
set3

set()

#### 합집합

In [88]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}

In [89]:
union_set = set4.union(set5)
union_set

{1, 2, 3, 4, 5}

In [90]:
set4 |= set5

In [91]:
set4

{1, 2, 3, 4, 5}

#### 교집합

In [92]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}

In [93]:
intersection_set = set4.intersection(set5)
intersection_set

{3}

#### 차집합

In [94]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}

In [95]:
difference_set = set4.difference(set5)
difference_set

{1, 2}

#### 튜플

In [96]:
tuple7 = (1, 2, 3)

In [97]:
tuple7[2]

3

#### 문자열

In [98]:
string1 = "Hello World"
string2 = "Hello World"

In [99]:
string3 = "He"
string3 += "llo"
string3

'Hello'

In [100]:
string_list = ['He', 'llo']
''.join(string_list)

'Hello'

In [101]:
string2.replace('l', '')

'Heo Word'

### 함수

#### 함수 정의

In [102]:
def function_name(param1, param2, param3):
    # logic
    return

#### 람다식

In [103]:
multi = lambda x, y : x * y
multi(5, 6)

30

In [104]:
nums = [x for x in range(1, 6)]
nums

[1, 2, 3, 4, 5]

In [105]:
squares = list(map(lambda x: x * x, nums))

In [106]:
squares

[1, 4, 9, 16, 25]

### 코테 구현 노하우

#### 조기 반환

In [107]:
def total_price(quantity, price):
    total = quantity * price
    if total > 100:
        return total * 0.9
    return total

In [108]:
total_price(2, 49)

98

In [109]:
total_price(4, 50)

180.0

#### 보호구문
- Validation check

In [110]:
def cal_avg(numbers):
    if numbers is None:
        return None # 값이 없으면 예외처리. C 기법

    if not isinstance(numbers, list):   # 값이 리스트가 아니면 종료
        return None

    if len(numbers) == 0:    # 값이 길이가 0이면 종료
        return None
    
    total = sum(numbers)
    average = total / len(numbers)
    return average

- 코테 소스에는 최대한 예외처리(try ~ except)를 사용하지 말 것
- 예외처리 구문에서 예외가 발생하면 속도가 느려짐

#### 합성 함수
- 2개 이상의 함수를 활용하여 추가로 함수를 만드는 방법

In [111]:
def add_three(x):
    return x + 3

def square(x):
    return x * x

In [112]:
# 합성함수
composed_function = lambda x : square(add_three(x))

In [113]:
composed_function(3)    # (3 + 3) ^ 2 = 38

36